# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
*.apk
*.aab

# Environment variables
.env
.env.local

# Android & IDE files
android_app/android/.gradle/
android_app/android/app/build/
android_app/android/.idea/
android_app/android/captures/
android_app/android/local.properties
android_app/www/

# OS / Logs
.DS_Store
Thumbs.db
*.log
